{{ template "header" . }}
	</head>

	<body>
		<div>
			<h1>{{ .subtitle }}</h1>
			{{ with .event.Id }}
				<form action="/student_event/delete/{{ . }}" method="post">
					<input type="submit" value="登録削除">
				</form>
			{{ end }}
		</div>
		<div>
			<form action="{{ .url }}" method="post" enctype="multipart/form-data">
				<table>
					{{ with .event }}
					<tr>
						<th><label for="name">イベント名</label></th>
						<td><input type="text" id="name" value="{{ .Name }}" name="name"></td>
					</tr>
					<tr>
						<th><label for="date">日付</label></th>
						<td><input type="date" id="date" value="{{ .Date }}" name="date"></td>
					</tr>
					<tr>
						<th><label for="pdf">PDF</label></th>
						<td><input type="file" id="pdf" name="pdf"></td>
					</tr>
					{{ end }}
				</table>
				<div>
					<a href="/student_event">戻る</a>
					{{ with .event.Id }}
					<input type="submit" value="変更">
					{{ else }}
					<input type="submit" value="登録">
					{{ end }}
				</div>
			</form>
		</div>
	</body>
</html>
