{{ template "header" . }}
	</head>
	
	<body>
		<center>
			<div>
				<h1 class="title">講義情報一覧</h1>
				<a href="/lecture/register" class="button" id="posi-logout">新規登録</a>
			</div>
			<div>
				<table border="1">
					<tr>
							<th id="lec">講義名</th>
							<th id="lec">担当教員</th>
							<th id="lec">学期</th>
							<th id="lec">曜日・時限</th>
							<th id="lec">教室名</th>
						</tr>
						{{ range .lecture }}
						<tr>
							<td><a href="/lecture/show/{{ .Id }}">{{ .LectureName }}</a></td>
							<td>{{ .Teachar }}</td>
							<td>{{ .Quarter }}</td>
							<td>
							{{ range $i, $data := .Others }}
							{{ $data.WeekString  }} {{ $data.Time }}限<br>
							{{ end }}
							</td>
							<td>{{ .ClassRoom }}</td>
						</tr>
						{{ end }}
					</table>
				</div>
			<a href="/top" class="button" id="posi-back">戻る</a>
		</center>
	</body>
</html>
