{{ template "header" . }}
  <body>
    <div>
      <h1>{{ .lecture.LectureName }}</h1>
    </div>
    <!-- 講義情報とオプションのtable -->
    <div>
      <!-- 講義情報のtable -->
      <div>
        <table>
          <tr>
            <th>担当教員</th>
            <th>開講学期</th>
            <th>曜日・時限</th>
          </tr>
          <tr>
            <td>{{ .lecture.Teachar }}</td>
            <td>{{ .lecture.Quarter }}</td>
            <td>
            {{ range $i, $v := .lecture.Others }}
            {{ $v.WeekString }}・{{ $v.Time }}限<br>
            {{ end }}
            </td>
          </tr>
        </table>
      </div>
      <!-- オプションのtable -->
      <div>
        <table>
          <tr>
            <th><a href="/lecture/option/cancel/register/{{ .lecture.Id }}">休講情報</a></th>
            <td>
            {{ range $i, $v := .cancel }}
            <a href="/lecture/option/cancel/show/{{ $v.Id }}">{{ $v.Month}}/{{ $v.Day }}</a>
            {{ end }}
            </td>
          </tr>
          <tr>
            <th><a href="/lecture/option/change_room/register/{{ .lecture.Id }}">教室変更</a></th>
            <td>
            {{ range $i, $v := .change }}
            <a href="/lecture/option/change_room/show/{{ $v.Id }}">{{ $v.Month}}/{{ $v.Day }}</a>
            {{ end }}
            </td>
          </tr>
          <tr>
            <th><a href="/lecture/option/test/register/{{ .lecture.Id }}">試験情報</a></th>
            <td>
            {{ range $i, $v := .test }}
            <a href="/lecture/option/test/show/{{ $v.Id }}">{{ $v.Month}}/{{ $v.Day }}</a>
            {{ end }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <a href="/lecture/search">戻る</a>
    </div>
  </body>
</html>
