{{ template "header" . }}
<style type="text/css">
.title{
	text-align:center;
}
th{
	background: #CBFFD3;
}
.button{
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #000000;
	background: #d3d3d3;
	border-bottom: solid 6px #808080;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}
#posi-logout{
	position: relative;
	left: 40%;
}
#posi-back{
	position: relative;
	right: 15%;
	top: 10px;
}


</style>
	</head>
	
	<body>
		<center>
			<div>
				<h1 class="title">講義情報一覧</h1>
				<a href="/lecture/register" class="button" id="posi-logout">新規登録</a>
			</div>
			<div>
				<table border="1">
					<tr>
							<th>講義名</th>
							<th>担当教員</th>
							<th>学期</th>
							<th>曜日・時限</th>
							<th>教室名</th>
						</tr>
						{{ range .lecture }}
						<tr>
							<td><a href="/lecture/show/{{ .Id }}">{{ .LectureName }}</a></td>
							<td>{{ .Teachar }}</td>
							<td>{{ .Quarter }}</td>
							<td>
							{{ range $i, $data := .Others }}
							{{ $data.WeekString  }} {{ $data.Time }}限<br>
							{{ end }}
							</td>
							<td>{{ .ClassRoom }}</td>
						</tr>
						{{ end }}
					</table>
				</div>
			<a href="/top" class="button" id="posi-back">戻る</a>
		</center>
	</body>
</html>
