	</head>
	<body>
		<h1>Kochi University of Technology</h1>
		<center>
			<div>
				<form action="" method="post">
					<input name="id" type="text" placeholder="ID"	><br>
					<input name="pass" type="password" placeholder="PASS"><br>
					<input type="submit" value="Login!">
				</form>
			</div>
		</center>
	</body>
</html>
