	{{ template "header" . }}
	</header>
	<body>
		<center>
		<h1>高知工科大学専用時間割アプリ<br>KUMA</h1>
		<h3>管理者用ログイン</h3>
			<div>
				<form action="" method="post">
					<input name="id" type="text" placeholder="ID"><br>
					<input name="pass" type="password" placeholder="PASS"><br>
					<input type="submit" value="Login!" class="button">
				</form>
			</div>
		</center>
	</body>
</html>
