{{ template "header" . }}
  <body>
    <div>
      <h1>休講情報</h1>
    </div>
    <div>
      <form action="/lecture/option/cancel/register" method="post">
        <table>
          <tr>
            <th>講義名</th>
            <td>{{ .lecture.LectureName }}</td>
          </tr>
          <tr>
            <th>教員名</th>
            <td>{{ .lecture.Teachar }}</td>
          </tr>
          <tr>
            <th>日付</th>
            <td><input type="date" name="date"></td>
          </tr>
          <tr>
            <th>コメント</th>
            <td><textarea name="comment" rows="4"></textarea></td>
          </tr>
        </table>
        <div>
          <input type="hidden" name="lectureid" value="{{ .lecture.Id }}">
          <a href="/lecture/option/list/{{ .lecture.Id }}">戻る</a>
          <input type="submit" value="登録">
        </div>
      </form>
    </div>
  </body>
</html>
