{{ template "header" . }}
  </head>
  <body><center>
    <div>
      <h1>講義試験情報</h1>
      <form action="/lecture/option/test/delete/{{ .test.Id }}" method="post">
        <input type="submit" value="削除" class="button" id="posi-logout">
      </form>
    </div>
    <div>
      <table border=1>
        <tr>
          <th id="lec">講義名</th>
          <td>{{ .name }}</td>
        </tr>
        <tr>
          <th id="lec">日付・教室名</th>
          <td>{{ .test.Month }}/{{ .test.Day }}・{{ .test.ClassRoom }}</td>
        </tr>
        <tr>
          <th id="lec">コメント</th>
          <td>{{ .test.Comment }}</td>
        </tr>
      </table>
    </div>
    <div>
      <a href="/lecture/option/list/{{ .test.LectureID }}" class="button">戻る</a>
    </div>
  </center></body>
</html>
