{{ template "header" . }}
  <body><center>
    <div>
      <h1>教室変更情報</h1>
      <form action="/lecture/option/change_room/delete/{{ .room.Id }}" method="post">
        <input type="submit" value="削除" class="button">
      </form>
    </div>
    <div>
      <table border=1>
        <tr>
          <th id="lec">講義名</th>
          <td>{{ .name }}</td>
        </tr>
        <tr>
          <th id="lec">日付・教室名</th>
          <td>{{ .room.Month }}/{{ .room.Day }}・{{ .room.ClassRoom }}</td>
        </tr>
      </table>
    </div>
    <div>
      <a href="/lecture/option/list/{{ .room.LectureID }}" class="button">戻る</a>
    </div>
  </center></body>
</html>
