{{ template "header" . }} 

	<body>
		<div>
			<a href="/logout">ログアウト</a>
		</div>
		<div>
			<!-- 講義状態 -->
			<div>
				<a href="/lecture/search">講義状態</a><br>
				<ul>
					<li>休講情報</li>
					<li>教室変更</li>
					<li>試験情報</li>
				</ul>
			</div>
			<!-- 大学予定 -->
			<div>
				<a href="/university_event">大学予定</a>
			</div>
			<!-- 講義情報 -->
			<div>
				<a href="/lecture">講義情報</a>
			</div>
			<!-- 学生イベント広告 -->
			<div>
				<a href="/student_event">学生イベント広告</a>
			</div>
		</div>
	</body>
</html>

