{{ template "header" . }} 
	</head>
	<body>
	<h1 class="title">KUMA管理用サーバー</h1>
		<div>
			<a href="/logout" id="logout">ログアウト</a>
		</div>
		<div>
			<!-- 講義状態 -->

			<div class="box5" id="posi1">
				<a href="/lecture_search">講義状態</a><br>
				<ul>
					<li>休講情報</li>
					<li>教室変更</li>
					<li>試験情報</li>
				</ul>
			</div>
			<!-- 大学予定 -->
			<div class="box5" id="posi2-up">
				<a href="/university_event">大学予定</a>
			</div>
			<!-- 講義情報 -->
			<div class="box5" id="posi2-down">
				<a href="/lecture">講義情報</a>
			</div>
			<!-- 学生イベント広告 -->
			<div class="box5" id="posi4">
				<a href="/student_event">学生イベント広告</a>
			</div>
		</div>
	</body>
</html>

