/*クラス*/
.title{
	text-align:center;
}
.box5 {
	 padding: 0.5em 1em;
	 margin: 2em 0;
	 font-weight: bold;
	 border: double 5px #000000;
}
.button{
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #000000;
	background: #d3d3d3;
	border-bottom: solid 6px #808080;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
	border-radius: 9px;
}
/*ID*/
/*topページで使うもの*/
div#posi1 {
	position: fixed;
	width: 20%;
	background:#90ee90;
	height: 150;
}
div#posi2-up{
	position: fixed;
	left: 33.3%;
	width: 20%;
	height: 50;
	text-align: center;
	background: #ffe4b5;
}
div#posi2-down{
	position: fixed;
	left: 33.3%;
	width: 20%;
	height: 50;
	top: 200px;
	text-align: center;
	background: #ffe4b5;
}
div#posi4{
	position: fixed;
	left: 66.6%;
	width: 20%;
	height: 150;
	background: #ffb6c1
}
/*位置的なもの*/
#posi-logout{
	position: relative;
	left: 40%
}
#posi-back{
	position: relative;
	right: 15%;
	top: 15px;
}
#logout{
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #000000;
	font-weight: 600; 
	background: #d3d3d3;
	border-bottom: solid 6px #808080;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	position: relative;
	left: 85%;
}
/*学生イベントなどの色*/
#lec{
	background:#90ee90;
}
#unv{
	background: #ffe4b5;
}
#std{
	background: #ffb6c1
}
